<% if(success && success.length) { %>
    <div class="alert alert-success text-center alert-dismissible fade show" style="max-width: 1500px;" role="alert">
        <%= success %>
    </div>
<% } %>

<% if(error && error.length) { %>
    <div class="alert alert-danger text-center alert-dismissible fade show mx-auto" style="max-width: 300px;" role="alert">
        <%= error %>
    </div>
<% } %>