<div class="bg-light">
    <div class="container justify-content-center d-flex">
        <nav class="col-12 bg-light navbar navbar-expand-sm navbar-light bg-light p-0" style="max-width: 800px">
            <img height="40" class="d-inline-block mr-3" src="/asset/cat_navbar.png" alt="">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav  mr-auto mt-2 mt-lg-0">
                    <a class="nav-link active text-center" href="/">Home</a>
                    <a class="nav-link text-center" href="/post/new">새 글 올리기</a>
                </ul>

                <a class="nav-link pl-3 pr-3 text-secondary text-center" href="/user/login">로그인쓰</a>
                <a class="nav-link pl-3 pr-3 text-secondary text-center" href="/user/register">회원가입</a>
            </div>
        </nav>
    </div>
</div>