<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<div class="row vertical-align main-header-text">
    <h2 class="col-md-12 text-center">냥냥 월드</h2>
</div>

<%- body %>

<%- include('../partials/footer') %>