<% layout('layouts/template') %>
<% if (imgArray) { %>
    <% for (let image of imgArray) { %>

            <div class="container mb-2 mx-auto myCursor normal-max-width " style=" max-height: 200px;"
                onclick="location.href='/<%= image._id %>';"
            >
                <div class=" row d-flex justify-content-center " >
                    <div class="border col-xs-2 col-md-2 col-3 d-flex align-items-center justify-content-center p-0" style="max-width: 120px">
                            <img class="img-fluid text-center" style="width: auto; max-height: 100px;"
                                <% if (!image.thumbnailUrl) { %>
                                    <%image.thumbnailUrl = "https://media.istockphoto.com/vectors/curious-cat-sticker-on-a-car-or-a-refrigerator-vector-id941880292?k=20&m=941880292&s=612x612&w=0&h=c4Js1OlaWBJLok7jUA1IOBC8lDzC6VnFrcuW0vEhxr8="%>
                                <% } %>
                                src="<%= image.thumbnailUrl %>"
                                alt="Card image cap"
                            >
                    </div>
                    <div class="hover-grey card col-xs-10 col-md-10 col-9 " >
                        <div class="card-body">
                            <h5 class="card-title "
                            >
                                <%= image.title %>
                            </h5>
                            <p class="card-text mh-25 text-truncate d-block "><%=image.description %></p>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
    <% } %>
<% } %>

<!-- min-height: 100px; -->