<% layout('layouts/template') %>
<%- include('partials/quillEditor/quillcss') %>
    <div style="height: 15px;"></div>

    <div class="container-fluid">

        <h4 class="d-block text-center">새로 만들거냥?</h4>
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-12 w-100 mx-auto" style="max-width: 600px">
            <form action="/post" method="POST" class="w-100 position-relative">
                <div class="mb-3">
                    <label class="form-label" for="title">제목</label>
                    <input class="form-control" type="text" id="title" name="title" required>
                </div>
                <div class="mb-3">
                    <%- include('partials/quillEditor/quillEditor') %>
                </div>

                <button class="btn btn-success position-absolute" style="right: 0px;">저장이다냥</button>
            </form>
        </div>
    </div>
<%- include('partials/quillEditor/quillLibrary') %>