<% layout('layouts/template') %>
<%- include('partials/quillEditor/quillcss') %>
    <div style="height: 15px;"></div>

    <div class="container-fluid">

        <div class="viewForm">
            <h4 class="d-block text-center">새로 만들거냥?</h4>
            <form action="/post" method="POST" class="w-100 position-relative">
                <div class="mb-3">
                    <label class="form-label" for="title">제목</label>
                    <input class="form-control sh-n" type="text" id="title" name="title" required>
                </div>
                <div class="mb-3">
                    <%- include('partials/quillEditor/quillEditor') %>
                </div>
                <p style="height: 3.0rem;">
                    <button class="btn btn-success position-absolute" style="right: 0px;">저장이다냥</button>
                </p>
            </form>
        </div>
    </div>
<%- include('partials/quillEditor/quillLibrary') %>