<% layout('layouts/template') %>

<div class="container normal-max-width " style="min-height: 20vh;">
    <div class="col-12 border" style="min-height: 20vh;">
        <h4 class="mt-2 custom-solid"><%= img.title %> </h4>
        <div style="word-break:break-all;;"><%= img.description %> </div>



    </div>

</div>