<% layout('layouts/template') %>
<div class="container p-0" >
    <form action="" method="POST" class="validated-form loginForm position-relative" novalidate>
        <h4 class="mx-auto text-center" >로그인</h4>
        <div class="mb-3">
            <label class="form-label" for="username">아이디</label>
            <input class="form-control sh-n" type="text" id="username" name="username" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">비밀번호</label>
            <input class="form-control sh-n" type="password" id="password" name="password" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <p style="min-height:2.0rem;">
            <button class="btn btn-sm btn-success" style="float: right;">로그인!</button>
        </p>
    </form>
</div>
