.colapse-ms {
  display: none;
}

@media (min-width: 768px) {
  .colapse-ms {
    display: block;
  }
}

.h-fit-content {
  height: fit-content
}

.myCursor {
  cursor: pointer;
}

.DefaultMainContext {
  width : 100%;
  max-width: 600px;
}