.addPost .list {
    text-align: left;
    max-width: 750px;
    margin: auto;
}

.addPost .submit-form {
    max-width: 300px;
    margin: auto;
}

.addPost .edit-form {
    max-width: 300px;
    margin: auto;
}