<link rel="stylesheet" href="/stylesheets/quillEditor.css">
<!-- Create the toolbar container -->
<div id="toolbar">
    <button class="ql-bold">Bold</button>
    <button class="ql-italic">Italic</button>
    <span class="ql-formats">
        <select class="ql-size">
            <option value="10px">Small</option>
            <option selected>Normal</option>
            <option value="18px">Large</option>
            <option value="32px">Huge</option>
        </select>
    </span>
    <span class="ql-formats">
        <select class="ql-color">
            <option selected></option>
            <option value="red"></option>
            <option value="orange"></option>
            <option value="yellow"></option>
            <option value="green"></option>
            <option value="blue"></option>
            <option value="purple"></option>
        </select>
        <select class="ql-background">
            <option selected></option>
            <option value="red"></option>
            <option value="orange"></option>
            <option value="yellow"></option>
            <option value="green"></option>
            <option value="blue"></option>
            <option value="purple"></option>
        </select>
    </span>

</div>
<input name="description" type="hidden">
<input name="descriptionText" type="hidden">
<div id="editor" style="height: 27vh;">