<!-- Create the toolbar container -->
<div id="toolbar">
    <button class="ql-bold">Bold</button>
    <button class="ql-italic">Italic</button>
</div>
<input name="description" type="hidden">
<input name="descriptionText" type="hidden">
<div id="editor" style="height: 27vh;">